.newForm {
  padding: .2rem;

  input,
  textarea {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    padding: 0.2rem;
    margin: 0.5rem 0;

    @media(orientation: landscape) {
      font-size: 0.8rem;
      padding: 0.1rem;
      margin: 0.2rem 0;
    }
  }

  textarea {
    min-height: 100px;

    @media(orientation: landscape) {
      min-height: 50px;
    }

    @media(min-width: 758px) {
      min-height: 150px;
    }

    @media(min-width: 1025px) {
      min-height: 250px;
    }
  }

  .btn-transparent:hover {
    background-color: $color-dark-gray;
  }

}