@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  min-height: 200vh;

  @media(min-width: 1025px) {
    font-size: 22px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-black;
}

// utilities
.btn {
  display: inline-block;
  border: 1px solid $color-blue;
  padding: 0.2rem 0.6rem;
  background-color: $color-blue;
  color: $color-white;
}